<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artlens</title>
    <link rel="stylesheet" href="../../public/css/template.css">
    <link rel="stylesheet" href="https://use.typekit.net/qlq7pva.css">
</head>
<body>
    <header id="header">
        <nav>
            <ul>
            <a href="">
                <li class="titre">ALBUM</li>
            </a>
            <a href="">
                <li class="titre">TAG</li>
            </a>
            <a href="">
                <li class="titre">CONNEXION</li>
            </a>
        </ul>
        </nav>
    </header>


    
</body>
</html>